<div ng-include='"templates/common/menuBar.html"'></div>
<div class="container" style="">
	<div class="col-sm-12">
		<a href="#product">
			<div class="col-sm-2 well">
				Number of applications
				<h3>
					<b>3</b>
				</h3>
			</div>
		</a> <a href="">
			<div class="col-sm-2 well">
				Bot users
				<h3>
					<b>500</b>
				</h3>
			</div>
		</a> <a href="">
			<div class="col-sm-2 well">
				Messeges processed
				<h3>
					<b>1,23,456</b>
				</h3>
			</div>
		</a>
	</div>
	</a> <a href="">
		<div class="col-sm-12">
			<div class="col-sm-3 well box">
				Your customer id is: {{clientId}}
				<p>Platform: MAGENTO</p>
			</div>
		</div>
</div>
